<%= render "shared/errors", obj: @profile %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Edit your profile</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <%= form_for @profile, url: profile_path, html: {class: "form-horizontal", role: "form"} do |f| %>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label "About Me" %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_area :about, rows: 5, class: "form-control", placeholder: "About Me" %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :first_name %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :first_name, class: "form-control", placeholder: "First Name", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :last_name %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :occupation %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :occupation, class: "form-control", placeholder: "Occupation", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary bt-lg" %>
            </div>
          </div>
        <% end %>
        <div align="center">[ <%= link_to "Cancel", user_profile_path(current_user) %> ]</div>
      </div>
    </div>
  </div>
</div>
