<% if @user != current_user && @user.user_preference.profile_private? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3><%= @user.display_name %>'s Profile</h3>
    </div>
    <div class="panel-body">
      <strong>This profile is private.</strong>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="panel panel-default col-md-3">
      <div class="panel-body">
        <h4>Name</h4>
        <strong><%= @profile.full_name.blank? ? "Anonymous" : @profile.full_name %></strong>
        <hr>
        <h4>Occupation</h4>
        <strong><%= @profile.occupation.blank? ? "Not specified" : @profile.occupation %></strong>
        <hr>
        <h4><%= pluralize(@user.projects.count, "Projects") %></h4>
        <%= link_to("View Projects", user_projects_path(@user), class: "btn btn-success btn-xs") %>
      </div>
    </div>
    <div class="panel panel-default col-md-8 col-md-offset-1">
      <div class="panel-heading">
        <h3><%= @user.display_name %>'s Profile <%= raw('<span class="profile-private">private</span>') if @user.user_preference.profile_private? %></h3>
      </div>
      <div class="panel-body">
        <h4>About Me</h4>
        <p><%= @profile.about.blank? ? raw("<strong>No about me</strong>") : @profile.about %></p>
        <% if @user== current_user %>
          <div class="profile-actions">
            <%= link_to("Edit Profile", edit_profile_path, class: "btn btn-primary btn-xs") %>
            <%= link_to("Edit Profile Preferences", edit_preferences_path, class: "btn btn-primary btn-xs") %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
