<%= render "shared/errors", obj: @project %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= heading %></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <!--Creates a field block for you-->
        <%= form_for @project, html: {class: "form-horizontal", role: "form"} do |f| %>
          <div class="form-group">
            <div class="control-label col-sm-2 required-label">
              <%= f.label :name %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :name, class: "form-control", placeholder: "Name of project", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label :repo_link %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :repo_link, class: "form-control", placeholder: "Link to Project Repository", autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2 required-label">
              <%= f.label :description %><br>
            </div>
            <div class="col-sm-8">
              <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Description of project" %>
            </div>
          </div>
          <div class="form-group">
            <div class="control-label col-sm-2">
              <%= f.label "Languages" %><br>
            </div>
            <div class="col-sm-8">
              <%= f.collection_select(:language_ids, Language.all, :id, :name, {}, 
                  {class: "selectpicker", 'id': 'bootstrap-select', 'multiple': "multiple", 'data-live-search': "true", 'title': "Choose languages...", 'data-style': "btn-primary", 'data-size': "10", 'data-width': "100%"}) %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <%= f.submit class: "btn btn-primary bt-lg" %>
            </div>
          </div>
        <% end %>
        
        <div align="center">[ <%= link_to "Cancel", user_projects_path(@project.user ? @project.user.id : current_user.id) %> ]</div>
      </div>
      <div class="col-md-4 col-md-offest-4 required-label"><strong>Required Field</strong></div>
    </div>
  </div>
</div>
